/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.tab {
  font-size: 20px;
  border-color: white;
  color: gray;
}

.number {
  font-size: 25px;
} 

.buildingButton {
  background-color: black;
  color: white;
  transition-duration: 0.2s
}

.xButton {
  background-color: #FF00FF;
  font-size: 18px;
}

.upgradeButton {
  background-color: #00FF00;
  height: 100px;
  width: 150px;
}

.yButton {
  background-color: #00FF00;
  font-size: 18px;
}

.mult {
  color: orange;
}

.multButton {
  background-color: orange;
  border-color: #000000;
  border-width: 3px;
  color: white; 
}

.multButton2 {
  background-color: gray;
  border-color: #000000;
  border-width: 3px;
  color: white;
}

.resetButton {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF; 
}

.resetPoints {
  color: #FF00FF;
}

.resetTab {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF; 
  font-size: 18px;
}

.reupg {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF;
  height: 100px;
  width: 150px;
}

.reupg2 {
  background-color: #FF00FF;
  border-color: purple;
  color: purple;
  height: 100px;
  width: 150px;
}

.tab {
  transition-duration: 0.2s
}

.subtab {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF;
}

.marquee {
  position: relative;
  overflow: hidden;
  height: 25px;
  width: 100%;
  border: 1px solid orange;
}

.marquee p {
  position: absolute;
  margin: 0;
  line-height: 25px;
  white-space: nowrap;
  animation: marquee 10s linear infinite
}

@keyframes marquee {
  0% { transform: translateX(2000px); }
  100% { transform: translateX(-100px); }
}

.discord {
  background-color: #0000FF;
  color: #00FFFF;
  border-color: #0000FF;
}

#sacrifice {
  background-color: black;
  color: white;
  transition-duration: 0.2s
}

.sroot {
  background-color: #00FFFF;
  height: 100px;
  width: 150px;
}

.pps {
  color: gray;
  font-size: 12px;
}
