body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
  text-align: center;
}

button {
  border-radius: 5px;
  font-family: helvetica, arial, sans-serif, typewriter;
  transition-duration: 0.2s;
}

h2 {
  font-size: 24px;
  font-style: bold;
}

span{
  color: inherit
}

select,option{
  border-color:black;
}

#points {
  font-size: 25px;
}

.tab {
  font-size: 20px;
  color: gray;
  border-color: white;
}

.buildingBuyable {
  background-color: #dddddd;
  color: black;
  border-color: #32964d;
  transition-duration: 0.2s;
}

.buildingBuyable:hover {
  background-color: #32964d;
  color: white;
}

.buildingLocked {
  background-color: #bbbbbb;
  border-color: red;
  transition-duration: 0.2s;
}

.buildingLocked:hover {
  background-color: red;
  color: white;
}

.tab:hover, .hoverable:hover {
  color: white;
  background-color: gray;
  border-color: gray;
}

#game {
  border: 2px solid black;
  padding: 2px;
  width: 75%;
  overflow: hidden;
  margin: auto;
  text-align: left;
}

#hardReset {
  color: white;
  border-color: red;
  background-color: red;
}

#hardReset:hover {
  color: darkred;
}

.xButton {
  background-color: #ffaaff;
  font-size: 18px;
}

.xButton:hover {
  color: #880088;
  background-color: #ff88ff;
  border-color: #880088;
}

.yButton {
  background-color: #aaffaa;
  font-size: 18px;
}

.yButton:hover {
  color: #446622;
  background-color: #bbff66;
  border-color: #446622;
}

.zButton {
  background-color: #ffbdbd;
  font-size: 18px;
}

.zButton:hover {
  color: #572828;
  background-color: #ff9999;
  border-color: #572828;
}

.xyButton {
  background-color: #42eff5;
  font-size: 18px;
}

.xyButton:hover {
  color: #015154;
  background-color: #00dddd;
  border-color: #015154;
}

.upgradeLocked {
  background-color: red;
  color: white;
  border-color: red;
}

.upgradeBuyable {
  background-color: #AAAA00;
  color: white;
  border-color: #AAAA00;
}

.upgradeBought, .upgradeChargeable {
  background-color: green;
  color: white;
  border-color: green;
}

.upgradeChargeable:hover {
  background-color: black;
  color: #006ede;
  border-color: #006ede;
}

.upgradeCharged {
  background-color: #006ede;
  color: white;
  border-color: #006ede;
}

.yquadUpgradeBuyable {
  background-color: #deadff;
  color: black;
  border-color: #deadff;
}

.yquadUpgradeBought {
  background-color: #9900ff;
  color: white;
  border-color: #9900ff;
}

.pps {
  font-size: 12px;
  color: gray;
}

#prestige {
  height: 75px;
  width: 115px;
  color: blue;
  border-color: blue;
  background-color: #A1C7CC;
  transition-duration: 0.2s;
}

.tabQua {
  font-size: 20px;
  border-color: blue;
  color: blue;
  background-color: #A1C7CC;
  transition-duration: 0.2s;
}

.prestige2 {
  height: 75px;
  width: 115px;
  color: #5dde5d;
  border-color: #5dde5d;
  background-color: #006600;
  transition-duration: 0.2s;
}

.tabComp {
  font-size: 20px;
  border-color: #5dde5d;
  color: #5dde5d;
  background-color: #006600;
  transition-duration: 0.2s;
}

.prestige3 {
  height: 75px;
  width: 115px;
  border-color: #9900ff;
  color: #9900ff;
  background-color: #deadff;
  transition-duration: 0.2s;
}

.tabYqua {
  font-size: 20px;
  border-color: #9900ff;
  color: #9900ff;
  background-color: #deadff;
  transition-duration: 0.2s;
}

#prestige:hover, .tabQua:hover {
  background-color: blue;
  color: #A1C7CC;
}

.prestige2:hover, .tabComp:hover {
  background-color: #5dde5d;
  color: #006600;
}

.prestige3:hover, .tabYqua:hover {
  background-color: #9900ff;
  color: #deadff;
}

.notprestige {
  height: 75px;
  width: 115px;
  animation: notprestige 2s linear 0s infinite;
  transition-duration: 0.2s;
}

@keyframes notprestige {
  0% {
    color: blue;
    border-color: blue;
    background-color: #A1C7CC;
  }
  50% {
    border-color: #9900ff;
    color: #9900ff;
    background-color: #deadff;
  }
  100% {
    color: blue;
    border-color: blue;
    background-color: #A1C7CC;
  }
}

#enterSqrt {
  width: 150px;
  height: 125px;
  color: #b56700;
  background-color: #ffcb52;
  border-color: #b56700;
}

#enterSqrt:hover {
  color: #ffcb52;
  background-color: #b56700;
}

.challengeDefault {
  color: red;
  background-color: pink;
  border-color: red;
}

.challengeIncomplete {
  color: #8B8000;
  background-color: yellow;
  border-color: #8B8000;
}

.challengeComplete {
  color: green;
  background-color: lime;
  border-color: green;
}

.compChalDefault {
  border-color: #de5d5d;
  color: #de5d5d;
  background-color: #660000;
}

.compChalIncomplete {
  border-color: #006600;
  color: #006600;
  background-color: #5dde5d;
}

.compChalComplete {
  border-color: #5dde5d;
  color: #5dde5d;
  background-color: #006600;
}

.yChalDefault {
  color: #9900ff;
  background-color: #deadff;
  border-color: #9900ff;
}

.yChalIncomplete {
  color: #deadff;
  background-color: #9900ff;
  border-color: #9900ff;
}

.autocenter {
  margin-left: auto;
  margin-right: auto;
}

.quadText {
  color: blue;
  font-size: 20px;
}

.x2Doubler {
  color: white;
  background-color: black;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  0% {
    border-color: red;
  }
  12% {
    border-color: orange;
  }
  25% {
    border-color: yellow;
  }
  37% {
    border-color: lime;
  }
  50% {
    border-color: cyan;
  }
  62% {
    border-color: blue;
  }
  75% {
    border-color: purple;
  }
  87% {
    border-color: magenta;
  }
  100% {
    border-color: red;
  }
}

.achievementLocked {
  border: 2px solid black;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: red;
}

.achievementUnlocked {
  border: 2px solid black;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: green;
}

.achievementGolden {
  border: 2px solid black;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: #999900;
}

.quadFormulaText {
  font-size: 20px;
  color: #00838f;
}

.realSolution {
  color: #00ad28;
}

.nonrealSolution {
  color: #a60000;
}

.realishSolution {
  color: #ad9b00;
}

.qpBuyable {
  background-color: #00838f;
  color: white;
  border-color: #00838f;
}

.ipBuyable {
  background-color: #009900;
  color: white;
  border-color: #009900;
}

.compText {
  color: #009900;
  font-size: 20px;
}

.yquadText {
  color: #9900ff;
  font-size: 20px;
}

.zLabText {
  color: #bb0000;
  font-size: 20px;
}

.milestoneLocked {
  background-color: pink;
  border-color: red;
  color: red;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.milestoneUnlocked {
  background-color: lime;
  border-color: green;
  color: green;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.compUpgradeLocked {
  background-color: gray;
  color: black;
  border-color: gray;
}

.compUpgradeBuyable {
  background-color: white;
  color: black;
  border-color: white;
}

.firstRowBuyable {
  background-color: #ffa6f8;
  color: black;
  border-color: #ffa6f8;
}

.firstRowBought {
  background-color: #910086;
  color: white;
  border-color: #910086;
}

.secondRowBuyable {
  background-color: #91e5ff;
  color: black;
  border-color: #91e5ff;
}

.secondRowBought {
  background-color: #007fa6;
  color: white;
  border-color: #007fa6;
}

.thirdRowBuyable {
  background-color: #8aff8c;
  color: black;
  border-color: #8aff8c;
}

.thirdRowBought {
  background-color: #279629;
  color: white;
  border-color: #279629;
}

.fourthRowBuyable {
  background-color: #ffbdbd;
  color: black;
  border-color: #ffbdbd;
}

.fourthRowBought {
  background-color: #bb0000;
  color: white;
  border-color: #bb0000;
}

.compLocked {
  height: 75px;
  width: 115px;
  background-color: #bbbbbb;
  border-color: red;
  color: black;
}

.iTripler {
  color: green;
  background-color: white;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center; 
  border-color: green;
  border-width: 5px;
}

.iTripler:hover {
  background-color: green;
  color: white;
}

@keyframes a-existence-glow {
  0% {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
  }

  50% {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
  }

  100% {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
  }
}

.zCollider {
  border: 4px solid black;
  width: 310px;
  height: 190px;
  border-radius: 10px;
  background-color: white;
}

.zlabMilestoneLocked {
  color: white;
  background-color: #a60000;
  border: 2px solid #a60000;
  border-radius: 20px;
}

.zlabMilestoneUnlocked {
  color: white;
  background-color: #00ad28;
  border: 2px solid #00ad28;
  border-radius: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.zlabBuyable {
  color: white;
  background-color: black;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center; 
  border-color: red;
  border-width: 5px;
}

.zlabBuyable:hover {
  background-color: red;
  color: white;
}

.extrusionBuyable {
  background-color: #dddddd;
  color: black;
  border-color: #ff00ff;
  transition-duration: 0.2s;
}

.extrusionBuyable:hover {
  background-color: #ff00ff;
  color: white;
}

.x2y2Text {
  font-size: 20px;
  animation: x2y2 2s linear 0s infinite;
}

@keyframes x2y2 {
  0% {
    color: blue;
  }
  
  50% {
    color: #9900ff;
  }
  
  100% {
    color: blue;
  }
}

.tabPoly {
  font-size: 20px;
  transition-duration: 0.2s;
  animation: tabPoly 6s linear 0s infinite;
}

@keyframes tabPoly {
  0% { /* red */
    background-color: #aa0000;
    color: #ff9999;
    border-color: #ff9999;
  }
  20% { /* orange */
    background-color: #aa6600;
    color: #ff9900;
    border-color: #ff9900;
  }
  40% { /* green */
    background-color: #009900;
    color: #00ff00;
    border-color: #00ff00;
  }
  60% { /* blue */
    background-color: #000099;
    color: #0066ff;
    border-color: #0066ff;
  }
  80% { /* purple */
    background-color: #990099;
    color: #ff00ff;
    border-color: #ff00ff;
  }
  100% { /* red */
    background-color: #aa0000;
    color: #ff9999;
    border-color: #ff9999;
  }
}

.polyText {
  font-size: 20px;
  animation: polyText 6s linear 0s infinite;
}

@keyframes polyText {
  0% { /* red */
    color: #aa0000;
  }
  20% { /* orange */
    color: #aa6600;
  }
  40% { /* green */
    color: #009900;
  }
  60% { /* blue */
    color: #000099;
  }
  80% { /* purple */
    color: #990099;
  }
  100% { /* red */
    color: #aa0000;
  }
}

.cubicText {
  font-size: 20px;
  color: #ff00ff;
}
.quarticText {
  font-size: 20px;
  color: #918c04;
}
.quinticText {
  font-size: 20px;
  color: #1c9104;
}
.sexticText {
  font-size: 20px;
  color: #0000bb;
}
.septicText {
  font-size: 20px;
  color: #6c3bff;
}
.octicText {
  font-size: 20px;
  color: #7000ba;
}
.nonticText {
  font-size: 20px;
  color: #d6006b;
}
.decticText {
  font-size: 20px;
  color: #aa0000;
}

#enterSynthDiv {
  width: 150px;
  height: 125px;
  color: #0000aa;
  background-color: #8888ff;
  border-color: #0000aa;
}

#enterSynthDiv:hover {
  color: #8888ff;
  background-color: #0000aa;
}

.disappearingbody{
    transition: 4s;
    opacity: 0;
}

a:visited {
  color: #7000ba;
}