body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
  text-align: center;
}

button {
  border-radius: 5px;
  font-family: helvetica, arial, sans-serif, typewriter;
  transition-duration: 0.2s;
}

h2 {
  font-size: 24px;
  font-style: bold;
}

span{
  color: inherit
}

#points {
  font-size: 25px;
}

.tab {
  font-size: 20px;
  color: gray;
  border-color: white;
}

.buildingBuyable {
  background-color: #dddddd;
  color: black;
  border-color: #32964d;
  transition-duration: 0.2s;
}

.buildingBuyable:hover {
  background-color: #32964d;
  color: white;
}

.buildingLocked {
  background-color: #bbbbbb;
  border-color: red;
  transition-duration: 0.2s;
}

.buildingLocked:hover {
  background-color: red;
  color: white;
}

.tab:hover, .hoverable:hover {
  color: white;
  background-color: gray;
  border-color: gray;
}

#game {
  border: 2px solid black;
  padding: 2px;
  width: 75%;
  overflow: hidden;
  margin: auto;
  text-align: left;
}

#hardReset {
  color: white;
  border-color: red;
  background-color: red;
}

#hardReset:hover {
  color: darkred;
}

.xButton {
  background-color: #ffaaff;
  font-size: 18px;
}

.xButton:hover {
  color: #880088;
  background-color: #ff88ff;
  border-color: #880088;
}

.yButton {
  background-color: #aaffaa;
  font-size: 18px;
}

.yButton:hover {
  color: #446622;
  background-color: #bbff66;
  border-color: #446622;
}

.zButton {
  background-color: #ffbdbd;
  font-size: 18px;
}

.zButton:hover {
  color: #572828;
  background-color: #ff9999;
  border-color: #572828;
}

.upgradeLocked {
  background-color: red;
  color: white;
  border-color: red;
}

.upgradeBuyable {
  background-color: #AAAA00;
  color: white;
  border-color: #AAAA00;
}

.upgradeBought {
  background-color: green;
  color: white;
  border-color: green;
}

#pps {
  font-size: 12px;
  color: gray;
}

#prestige {
  height: 75px;
  width: 115px;
  color: blue;
  border-color: blue;
  background-color: #A1C7CC;
  transition-duration: 0.2s;
}

.tabQua {
  font-size: 20px;
  border-color: blue;
  color: blue;
  background-color: #A1C7CC;
  transition-duration: 0.2s;
}

.prestige2 {
  height: 75px;
  width: 115px;
  color: #5dde5d;
  border-color: #5dde5d;
  background-color: #006600;
  transition-duration: 0.2s;
}

.tabComp {
  font-size: 20px;
  border-color: #5dde5d;
  color: #5dde5d;
  background-color: #006600;
  transition-duration: 0.2s;
}

#prestige:hover, .tabQua:hover {
  background-color: blue;
  color: #A1C7CC;
}

.prestige2:hover, .tabComp:hover {
  background-color: #5dde5d;
  color: #006600;
}

#enterSqrt {
  width: 150px;
  height: 125px;
  color: #e08a00;
  background-color: #ffcb52;
  border-color: #e08a00;
}

#enterSqrt:hover {
  color: #ffcb52;
  background-color: #e08a00;
}

.challengeDefault {
  color: red;
  background-color: pink;
  border-color: red;
}

.challengeIncomplete {
  color: #8B8000;
  background-color: yellow;
  border-color: #8B8000;
}

.challengeComplete {
  color: green;
  background-color: lime;
  border-color: green;
}

.compChalDefault {
  border-color: #de5d5d;
  color: #de5d5d;
  background-color: #660000;
}

.compChalIncomplete {
  border-color: #006600;
  color: #006600;
  background-color: #5dde5d;
}

.compChalComplete {
  border-color: #5dde5d;
  color: #5dde5d;
  background-color: #006600;
}

.autocenter {
  margin-left: auto;
  margin-right: auto;
}

.quadText {
  color: blue;
  font-size: 20px;
}

.x2Doubler {
  color: white;
  background-color: black;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  0% {
    border-color: red;
  }
  12% {
    border-color: orange;
  }
  25% {
    border-color: yellow;
  }
  37% {
    border-color: lime;
  }
  50% {
    border-color: cyan;
  }
  62% {
    border-color: blue;
  }
  75% {
    border-color: purple;
  }
  87% {
    border-color: magenta;
  }
  100% {
    border-color: red;
  }
}

.achievementLocked {
  border: 2px solid black;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: red;
}

.achievementUnlocked {
  border: 2px solid black;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: green;
}

.achievementGolden {
  border: 2px solid black;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: #999900;
}

.quadFormulaText {
  font-size: 20px;
  color: #00838f;
}

.realSolution {
  color: #00ad28;
}

.nonrealSolution {
  color: #a60000;
}

.qpBuyable {
  background-color: #00838f;
  color: white;
  border-color: #00838f;
}

.compText {
  color: #009900;
  font-size: 20px;
}

.milestoneLocked {
  background-color: pink;
  border-color: red;
  color: red;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.milestoneUnlocked {
  background-color: lime;
  border-color: green;
  color: green;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.compUpgradeLocked {
  background-color: gray;
  color: black;
  border-color: gray;
}

.compUpgradeBuyable {
  background-color: white;
  color: black;
  border-color: white;
}

.firstRowBuyable {
  background-color: #ffa6f8;
  color: black;
  border-color: #ffa6f8;
}

.firstRowBought {
  background-color: #910086;
  color: white;
  border-color: #910086;
}

.secondRowBuyable {
  background-color: #91e5ff;
  color: black;
  border-color: #91e5ff;
}

.secondRowBought {
  background-color: #007fa6;
  color: white;
  border-color: #007fa6;
}

.thirdRowBuyable {
  background-color: #8aff8c;
  color: black;
  border-color: #8aff8c;
}

.thirdRowBought {
  background-color: #279629;
  color: white;
  border-color: #279629;
}

.compLocked {
  height: 75px;
  width: 115px;
  background-color: #bbbbbb;
  border-color: red;
  color: black;
}

.iTripler {
  color: green;
  background-color: white;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center; 
  border-color: green;
  border-width: 5px;
}

.iTripler:hover {
  background-color: green;
  color: white;
}

@keyframes a-existence-glow {
  0% {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
  }

  50% {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.8rem black;
  }

  100% {
    color: white;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
  }
}