body {
  font-family: helvetica, arial, sans-serif, typewriter;
  margin: 2em;
  text-align: center;
  background-color: #111111;
  color: white;
}

button {
  border-radius: 5px;
  font-family: helvetica, arial, sans-serif, typewriter;
  transition-duration: 0.2s;
  background-color: gray;
  color: white;
  border-color: white;
}

h2 {
  font-size: 24px;
  font-style: bold;
}

span{
  color: inherit
}

select,option{
  color:white;
  background-color:black;
  border-color:white;
}

#points {
  font-size: 25px;
  text-shadow: 0px 0px 7px;
}

.tab {
  font-size: 20px;
  color: white;
  background-color: #003891;
  border-color: #4f4c91;
}

.tabLI {
  font-size: 20px;
  border-color: black;
  color: gray;
  background-color: white;
}

.tabLI:hover {
  background-color: black;
  border-color: gray;
  color: white;
}

.buildingBuyable {
  background-color: black;
  color: #32964d;
  border-color: #32964d;
  transition-duration: 0.2s;
}

.buildingBuyable:hover {
  background-color: #32964d;
  color: white;
}

.buildingLocked {
  background-color: black;
  color: white;
  border-color: red;
}

.buildingLocked:hover {
  background-color: red;
  color: white;
}

.buildingBuyableLI {
  background-color: white;
  color: black;
  transition-duration: 0.2s
}

.buildingBuyableLI:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.buildingLockedLI {
  background: white;
  color: red;
  transition-duration: 0.2s  
}

.buildingLockedLI:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.tab:hover {
  color: black;
  background-color: #bdd6fc;
  border-color: #bdd6fc;
}

.hoverable:hover {
  color: black;
  background-color: white;
  border-color: white;
}

#game {
  border: 2px solid white;
  padding: 2px;
  width: 75%;
  overflow: hidden;
  margin: auto;
  text-align: left;
}

#hardReset {
  color: white;
  border-color: red;
  background-color: red;
}

#hardReset:hover {
  color: darkred;
}

.xButton {
  background-color: #aa00aa;
  font-size: 18px;
}

.xButton:hover {
  color: #ddaadd;
  background-color: #880088;
  border-color: #ddaadd;
}

.xButtonLI {
  background-color: #ff00ff;
  color: black;
  border-color: black;
  font-size: 18px;
}

.yButton {
  background-color: #446622;
  font-size: 18px;
}

.yButton:hover {
  color: #ddffaa;
  background-color: #668844;
  border-color: #ddffaa;
}

.yButtonLI {
  background-color: #00ff00;
  color: black;
  border-color: black;
  font-size: 18px;
}

.zButton {
  background-color: #bb0000;
  font-size: 18px;
}

.zButton:hover {
  color: #ffbdbd;
  background-color: #cc0000;
  border-color: #ffbdbd;
}

.zButtonLI {
  background-color: #ff0000;
  color: black;
  border-color: black;
  font-size: 18px;
}

.xyButton {
  background-color: #006f73;
  font-size: 18px;
}

.xyButton:hover {
  color: #99fbff;
  background-color: #008888;
  border-color: #99fbff;
}

.wButton {
  background-color: #0000bb;
  font-size: 18px;
}

.wButton:hover {
  color: #bdbdff;
  background-color: #0000cc;
  border-color: #bdbdff;
}

.y2z2Button {
  background-color: #94005e;
  font-size: 18px;
}

.y2z2Button:hover {
  color: #ff9ad6;
  background-color: #99002b;
  border-color: #ff9ad6;
}

.upgradeLocked {
  background-color: red;
  color: white;
  border-color: red;
}

.upgradeBuyable {
  background-color: #AAAA00;
  color: white;
  border-color: #AAAA00;
}

.upgradeBought, .upgradeChargeable {
  background-color: green;
  color: white;
  border-color: green;
}

.upgradeChargeable:hover {
  background-color: black;
  color: #006ede;
  border-color: #006ede;
}

.upgradeCharged {
  background-color: #006ede;
  color: white;
  border-color: #006ede;
}

.upgradeLockedLI {
  background-color: red;
  color: white;
  border-color: white;
}

.upgradeBuyableLI {
  background-color: #ffff00;
  color: black;
  border-color: white;
}

.upgradeBoughtLI {
  background-color: #00ff00;
  color: black;
  border-color: white;
}

.yquadUpgradeBuyable {
  background-color: #deadff;
  color: black;
  border-color: #deadff;
}

.yquadUpgradeBought {
  background-color: #9900ff;
  color: white;
  border-color: #9900ff;
}

.yquadUpgradeBuyableLI {
  background-color: #deadff;
  color: black;
  border-color: black;
}

.yquadUpgradeBoughtLI {
  background-color: #9900ff;
  color: white;
  border-color: white;
}

.upgradeInactive {
  background-color: #666666;
  color: white;
  border-color: #666666;
}

.upgradeInactive:hover {
  background-color: black;
  color: #666666;
  border-color: #666666;
}

.pps {
  font-size: 12px;
  color: lightgray;
}

.prestige {
  height: 75px;
  width: 115px;
  color: blue;
  border-color: blue;
  background-color: #A1C7CC;
  transition-duration: 0.2s;
}

.tabQua {
  font-size: 20px;
  border-color: blue;
  color: blue;
  background-color: #A1C7CC;
  transition-duration: 0.2s;
}

.prestige2 {
  height: 75px;
  width: 115px;
  color: #5dde5d;
  border-color: #5dde5d;
  background-color: #006600;
  transition-duration: 0.2s;
}

.tabComp {
  font-size: 20px;
  border-color: #5dde5d;
  color: #5dde5d;
  background-color: #006600;
  transition-duration: 0.2s;
}

.tabMixedcomp {
  font-size: 20px;
  border-color: #5dde5d;
  color: white;
  background: linear-gradient(#006600, #800101);
  transition-duration: 0.2s;
}

.tabPurecomp {
  font-size: 20px;
  border-color: #5dde5d;
  color: white;
  background: linear-gradient(#006600, #00d000);
  transition-duration: 0.2s;
}

.tabHypercomp {
  font-size: 20px;
  border-color: #ff0000;
  color: #ff0000;
  background-color: #660000;
  transition-duration: 0.2s;
}

.prestige3 {
  height: 75px;
  width: 115px;
  border-color: #9900ff;
  color: #9900ff;
  background-color: #deadff;
  transition-duration: 0.2s;
}

.tabYqua {
  font-size: 20px;
  border-color: #9900ff;
  color: #9900ff;
  background-color: #deadff;
  transition-duration: 0.2s;
}

.prestige4 {
  height: 75px;
  width: 115px;
  border-color: #666600;
  color: #666600;
  background-color: #cccc00;
  transition-duration: 0.2s;
}

.tabInteg {
  font-size: 20px;
  border-color: #666600;
  color: #666600;
  background-color: #cccc00;
  transition-duration: 0.2s;
}

.prestige5 {
  height: 75px;
  width: 115px;
  border-color: #006633;
  color: #006633;
  background-color: #00ff88;
  transition-duration: 0.2s;
}

.tabSin {
  font-size: 20px;
  border-color: #006633;
  color: #006633;
  background-color: #00ff88;
  transition-duration: 0.2s;
}

.prestige:hover, .tabQua:hover {
  background-color: blue;
  color: #A1C7CC;
}

.prestige2:hover, .tabComp:hover, .tabMixedcomp:hover, .tabPurecomp:hover {
  background-color: #5dde5d;
  background: #5dde5d;
  color: #006600;
}

.prestige3:hover, .tabYqua:hover {
  background-color: #9900ff;
  color: #deadff;
}

.prestige4:hover, .tabInteg:hover {
  background-color: #666600;
  color: #cccc00;
}

.prestige5:hover, .tabSin:hover {
  background-color: #006633;
  color: #00ff88;
}

.tabHypercomp:hover {
  background-color: #ff0000;
  color: #660000;
}

.notprestige {
  height: 75px;
  width: 140px;
  animation: notprestige 2s linear 0s infinite;
  transition-duration: 0.2s;
}

@keyframes notprestige {
  0% {
    color: blue;
    border-color: blue;
    background-color: #A1C7CC;
  }
  50% {
    border-color: #9900ff;
    color: #9900ff;
    background-color: #deadff;
  }
  100% {
    color: blue;
    border-color: blue;
    background-color: #A1C7CC;
  }
}

#enterSqrt {
  width: 150px;
  height: 125px;
  color: #b56700;
  background-color: #ffcb52;
  border-color: #b56700;
}

#enterSqrt:hover {
  color: #ffcb52;
  background-color: #b56700;
}

.challengeDefault {
  color: white;
  background-color: crimson;
  border-color: white;
}

.challengeIncomplete {
  color: yellow;
  background-color: #8B8000;
  border-color: yellow;
}

.challengeComplete {
  color: white;
  background-color: green;
  border-color: white;
}

.ic6RedComplete {
  color: white;
  background-color: #880000;
  border-color: white;
}

.ic6GreenComplete {
  color: white;
  background-color: #00bb00;
  border-color: white;
}

.ic6BlueComplete {
  color: white;
  background-color: #000088;
  border-color: white;
}

.ic6PurpleComplete {
  color: white;
  background-color: #880088;
  border-color: white;
}

.compChalDefault {
  border-color: #de5d5d;
  color: #de5d5d;
  background-color: #660000;
}

.compChalComplete {
  border-color: #5dde5d;
  color: #5dde5d;
  background-color: #006600;
}

.yChalDefault {
  color: #9900ff;
  background-color: #deadff;
  border-color: #9900ff;
}

.yChalIncomplete {
  color: #deadff;
  background-color: #9900ff;
  border-color: #9900ff;
}

.autocenter {
  margin-left: auto;
  margin-right: auto;
}

.quadText {
  color: #006DB6;
  font-size: 20px;
}

.x2Doubler {
  color: white;
  background-color: black;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center;
  animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
  0% {
    border-color: red;
  }
  15% {
    border-color: orange;
  }
  25% {
    border-color: yellow;
  }
  40% {
    border-color: lime;
  }
  55% {
    border-color: cyan;
  }
  70% {
    border-color: blue;
  }
  80% {
    border-color: purple;
  }
  90% {
    border-color: magenta;
  }
  100% {
    border-color: red;
  }
}

.achievementLocked {
  border: 2px solid white;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: crimson;
  color: white;
}

.achievementUnlocked {
  border: 2px solid white;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: #39cc94;
  color: white;
}

.achievementGolden {
  border: 2px solid white;
  width: 150px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: #999900;
  color: white;
}

.quadFormulaText {
  font-size: 20px;
  color: #5fe1ed;
}

.realSolution {
  color: #8aff78;
}

.nonrealSolution {
  color: #ff7878;
}

.realishSolution {
  color: #ffef69;
}

.qpBuyable {
  background-color: #5fe1ed;
  color: black;
  border-color: #5fe1ed;
}

.ipBuyable {
  background-color: #5dde5d;
  color: black;
  border-color: #5dde5d;
}

.compText {
  color: #5dde5d;
  font-size: 20px;
}

.yquadText {
  color: #deadff;
  font-size: 20px;
}

.sinText {
  color: #00ff88;
  font-size: 20px;
}

.zLabText {
  color: #ffbdbd;
  font-size: 20px;
}

.milestoneLocked {
  background-color: crimson;
  border-color: white;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.milestoneUnlocked {
  background-color: green;
  border-color: white;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.alterationLocked {
  background-color: #660000;
  border-color: red;
  color: red;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.alterationUnlocked {
  background-color: #006600;
  border-color: #5dde5d;
  color: #5dde5d;
  border-radius: 5px;
  border-width: 5px;
  width: 500px;
  height: 100px;
}

.compUpgradeLocked {
  background-color: gray;
  color: black;
  border-color: gray;
}

.firstRowLocked {
  background-color: gray;
  color: black;
  border-color: #ffa6f8;
  border-width: 5px;
}

.secondRowLocked {
  background-color: gray;
  color: black;
  border-color: #91e5ff;
  border-width: 5px;
}

.thirdRowLocked {
  background-color: gray;
  color: black;
  border-color: #8aff8c;
  border-width: 5px;
}

.fourthRowLocked {
  background-color: gray;
  color: black;
  border-color: #ff8888;
  border-width: 5px;
}

.fifthRowLocked {
  background-color: gray;
  color: black;
  border-color: #ffa86e;
  border-width: 5px;
}

.sixthRowLocked {
  background-color: gray;
  color: black;
  border-color: #ffff7a;
  border-width: 5px;
}

.compUpgradeBuyable {
  background-color: white;
  color: black;
  border-color: white;
}

.firstRowBuyable {
  background-color: #ffa6f8;
  color: black;
  border-color: #ffa6f8;
}

.firstRowBought {
  background-color: #910086;
  color: white;
  border-color: #910086;
}

.secondRowBuyable {
  background-color: #91e5ff;
  color: black;
  border-color: #91e5ff;
}

.secondRowBought {
  background-color: #007fa6;
  color: white;
  border-color: #007fa6;
}

.thirdRowBuyable {
  background-color: #8aff8c;
  color: black;
  border-color: #8aff8c;
}

.thirdRowBought {
  background-color: #279629;
  color: white;
  border-color: #279629;
}

.fourthRowBuyable {
  background-color: #ffbdbd;
  color: black;
  border-color: #ffbdbd;
}

.fourthRowBought {
  background-color: #bb0000;
  color: white;
  border-color: #bb0000;
}

.fifthRowBuyable {
  background-color: #c963ff;
  color: black;
  border-color: #c963ff;
}

.fifthRowBought {
  background-color: #6c00a6;
  color: white;
  border-color: #6c00a6;
}

.sixthRowBuyable {
  background-color: #ffa86e;
  color: black;
  border-color: #ffa86e;
}

.sixthRowBought {
  background-color: #782f00;
  color: white;
  border-color: #782f00;
}

.seventhRowBuyable {
  background-color: #ffff7a;
  color: black;
  border-color: #ffff7a;
}

.seventhRowBought {
  background-color: #757500;
  color: white;
  border-color: #757500;
}

.eighthRowBuyable {
  background-color: #66ffc7;
  color: black;
  border-color: #66ffc7;
}

.eighthRowBought {
  background-color: #00784c;
  color: white;
  border-color: #00784c;
}

.compLocked {
  height: 75px;
  width: 115px;
  background-color: #bbbbbb;
  border-color: red;
  color: black;
}

.iTripler {
  color: white;
  background-color: black;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center; 
  border-color: green;
  border-width: 5px;
}

.iTripler:hover {
  background-color: green;
}

.timeJump {
  color: white;
  background-color: black;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center; 
  border-color: #666600;
  border-width: 5px;
}

.timeJump:hover {
  background-color: #666600;
}

@keyframes a-existence-glow {
  0% {
    color: black;
    text-shadow: 0.1rem 0.1rem 0.2rem white;
  }

  50% {
    color: black;
    text-shadow: 0.1rem 0.1rem 0.8rem white;
  }

  100% {
    color: black;
    text-shadow: 0.1rem 0.1rem 0.2rem white;
  }
}

.zCollider {
  border: 4px solid white;
  width: 312px;
  height: 187px;
  border-radius: 10px;
  background-color: black;
  border-color: white;
}

.zlabMilestoneLocked {
  color: black;
  background-color: #ff7878;
  border: 2px solid #ff7878;
  border-radius: 20px;
}

.zlabMilestoneUnlocked {
  color: black;
  background-color: #8aff78;
  border: 2px solid #8aff78;
  border-radius: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.zlabBuyable {
  color: white;
  background-color: black;
  width: 175px;
  height: 150px;
  font-size: 12px;
  text-align: center; 
  border-color: red;
  border-width: 5px;
}

.zlabBuyable:hover {
  background-color: red;
  color: white;
}

.extrusionBuyable {
  background-color: black;
  color: #ff00ff;
  border-color: #ff00ff;
  transition-duration: 0.2s;
}

.extrusionBuyable:hover {
  background-color: #ff00ff;
  color: white;
}

.x2y2Text {
  font-size: 20px;
  animation: x2y2 2s linear 0s infinite;
}

@keyframes x2y2 {
  0% {
    color: #006DB6;
  }
  
  50% {
    color: #deadff;
  }
  
  100% {
    color: #006DB6;
  }
}

.tabPoly {
  font-size: 20px;
  transition-duration: 0.2s;
  animation: tabPoly 6s linear 0s infinite;
}

@keyframes tabPoly {
  0% { /* red */
    background-color: #990000;
    color: #ff0000;
    border-color: #ff0000;
  }
  16% { /* orange */
    background-color: #996600;
    color: #ffaa00;
    border-color: #ffaa00;
  }
  33% { /* yellow */
    background-color: #999900;
    color: #ffff00;
    border-color: #ffff00;
  }
  50% { /* green */
    background-color: #009900;
    color: #00ff00;
    border-color: #00ff00;
  }
  66% { /* blue */
    background-color: #000099;
    color: #0066ff;
    border-color: #0066ff;
  }
  83% { /* purple */
    background-color: #990099;
    color: #ff00ff;
    border-color: #ff00ff;
  }
  100% { /* red */
    background-color: #990000;
    color: #ff0000;
    border-color: #ff0000;
  }
}

.polyText {
  font-size: 20px;
  animation: polyText 6s linear 0s infinite;
}

@keyframes polyText {
  0% { /* red */
    color: #ff9999;
  }
  20% { /* orange */
    color: #ff9900;
  }
  40% { /* green */
    color: #00ff00;
  }
  60% { /* blue */
    color: #0000ff;
  }
  80% { /* purple */
    color: #ff00ff;
  }
  100% { /* red */
    color: #ff9999;
  }
}

.cubicText {
  font-size: 20px;
  color: #ff00ff;
}
.quarticText {
  font-size: 20px;
  color: #ffff00;
}
.quinticText {
  font-size: 20px;
  color: #00ff00;
}
.sexticText {
  font-size: 20px;
  color: #7777ff;
}
.septicText {
  font-size: 20px;
  color: #4000ff;
}
.octicText {
  font-size: 20px;
  color: #9900ff;
}
.nonticText {
  font-size: 20px;
  color: #ff0080;
}
.decticText {
  font-size: 20px;
  color: #aa0000;
}

.cubicBuyable {
  background-color: #ff00ff;
  color: white;
  border-color: #ff00ff;
}
.quarticBuyable {
  background-color: #ffff00;
  color: black;
  border-color: #ffff00;
}
.quinticBuyable {
  background-color: #00ff00;
  color: black;
  border-color: #00ff00;
}
.sexticBuyable {
  background-color: #7777ff;
  color: white;
  border-color: #7777ff;
}
.septicBuyable {
  background-color: #4000ff;
  color: white;
  border-color: #4000ff;
}
.octicBuyable {
  background-color: #9900ff;
  color: white;
  border-color: #9900ff;
}

#enterSynthDiv {
  width: 150px;
  height: 125px;
  color: #0000aa;
  background-color: #8888ff;
  border-color: #0000aa;
}

#enterSynthDiv:hover {
  color: #8888ff;
  background-color: #0000aa;
}

#enterLimit {
  width: 150px;
  height: 125px;
  color: #666600;
  background-color: #cccc00;
  border-color: #666600;
}

#enterLimit:hover {
  color: #cccc00;
  background-color: #666600;
}

.disappearingbody{
    transition: 4s;
    opacity: 0;
}

a:visited {
  color: #7000ba;
}

.alertText {
  animation: alertText 4s linear 0s infinite;
}

@keyframes alertText {
  0% {
    color: white;
  }
  50% {
    color: #ff7878;
  }
  100% {
    color: white;
  }
}

.rebuyableIntegrationUpgradeBuyable {
  background-color: #cccc00;
  border-color: #cccc00;
  color: black;
}

.singularityUpgradeBuyable {
  background-color: #420069;
  border-color: #420069;
  color: white;
}

.numberSet {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  background-color: black;
  border:4px solid white;
}

.naturalSet {
  border: 4px solid #ffa6f8;
  color: #ffa6f8;
}

.rationalSet {
  border: 4px solid #91e5ff;
  color: #91e5ff;
}

.complexSet {
  border: 4px solid #8aff8c;
  color: #8aff8c;
}

.realSet {
  border: 4px solid #ff8c8c;
  color: #ff8c8c;
}

.integerSet {
  border: 4px solid #ffa86e;
  color: #ffa86e;
}

.algebraicSet {
  border: 4px solid #ffff7a;
  color: #ffff7a;
}

.quaternionSet {
  border: 4px solid #800000;
  color: #800000;
}

.trigFunction1, .trigFunction2, .trigFunction3, .trigFunction4, .trigFunction5, .trigFunction6 {
  border: 0px;
  width: 400px;
  height: 200px;
  border-radius: 0px;
  text-shadow: black 1px 0 10px;
}

.trigFunction1 {
  background-color: #00dd77;
}

.trigFunction2 {
  background-color: #00bb66;
}

.trigFunction3 {
  background-color: #008844;
}

.trigFunction4 {
  background-color: #006633;
}

.trigFunction5 {
  background-color: #004422;
}

.trigFunction6 {
  background-color: #002211;
}

#barProgress1, #barProgress2, #barProgress3 {
  width: 50%;
  background-color: #999999;
}

#qpBar {
  width: 30%;
  height: 30px;
  background-color: #5fe1ed;
  color: black;
}

#ipBar {
  width: 30%;
  height: 30px;
  background-color: #5dde5d;
  color: black;
}

#peBar {
  width: 30%;
  height: 30px;
  background-color: #00ff88;
  color: black;
}

.parabolaBuyable {
  height: 75px;
  width: 115px;
  background-color: white;
  color: #5fe1ed;
  border-color: #5fe1ed;
  box-shadow: 0px 0px 10px #5fe1ed;
}

.parabolaBuyable:hover {
  height: 75px;
  width: 115px;
  background-color: #5fe1ed;
  color: white;
  box-shadow: 0px 0px 10px #5fe1ed;
}

.sinUpgradeBuyable {
  color: black;
  background-color: #00ff88;
  border-color: #00ff88;
}

.harshInstabilityText {
  color: #a60000;
}

.multButton {
  background-color: orange;
  border-color: #000000;
  border-width: 3px;
  color: white; 
}

.resetButton, .reupgLocked {
  background-color: purple;
  border-color: #FF00FF;
  color: #FF00FF;
}

.resetButton:hover, .reupgBuyable {
  background-color: #FF00FF;
  border-color: purple;
  color: purple;
}

.resettingText {
  color: #FF00FF;
  font-size: 20px;
}

.sqrtButton {
  background-color: #00FFFF;
  color: black;
  border-color: black;
  height: 100px;
  width: 150px;
  transition-duration: 0.2s
}

.sqrtButton:hover {
  background-color: green;
  color: white;
  border-color: black;
  height: 100px;
  width: 150px;
}

.complexButton {
  color: #00ff00;
  border-color: #00ff00;
  background-color: #005500;
}

.complexButton:hover {
  color: #005500;
  border-color: #005500;
  background-color: #00ff00;
}

.compTextLI {
  color: #00ff00;
  font-size: 20px;
}

.milestoneLockedLI {
  border: 2px solid white;
  color: white;
  width: 250px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: red;
}

.milestoneUnlockedLI {
  border: 2px solid white;
  color: black;
  width: 250px;
  height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: #00ff00;
}

.yQuadButton {
  border-color: #6800ad;
  color: #6800ad;
  background-color: #c772ff;
}

.yQuadButton:hover {
  background-color: #6800ad;
  color: #c772ff;
}

.yQuadTextLI {
  color: #6800ad;
  font-size: 20px;
}

.mandelbrotButton, .mandelbrotChalDefault {
  color: #dd0000;
  border-color: #dd0000;
  background-color: #ffc455;
}

.mandelbrotButton:hover, .mandelbrotChalRunning {
  color: #ffc455;
  border-color: #ffc455;
  background-color: #dd0000;
}

.mandelbrotText {
  color: #ffc455;
  font-size: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 480px;
  background-color: #444444;
  color: white;
  text-align: center;
}

.challengeSupercompleteLI {
  background-color: cyan;
  color: black;
  border-color: black;
}

.resettingFAUpgradeBuyable {
  background-color: #ffa6f8;
  color: black;
  border-color: black;
}

.resettingFAUpgradeBought {
  background-color: #910086;
  color: white;
  border-color: white;
}

.squarerootFAUpgradeBuyable {
  background-color: #91e5ff;
  color: black;
  border-color: black;
}

.squarerootFAUpgradeBought {
  background-color: #007fa6;
  color: white;
  border-color: white;
}

.complexFAUpgradeBuyable {
  background-color: #8aff8c;
  color: black;
  border-color: black;
}

.complexFAUpgradeBought {
  background-color: #279629;
  color: white;
  border-color: white;
}

.messenceFAUpgradeBuyable {
  background-color: #f7deb7;
  color: black;
  border-color: black;
}

.messenceFAUpgradeBought {
  background-color: #ff9900;
  color: black;
  border-color: black;
}

.mgeneratorsFAUpgradeBuyable {
  background-color: #9c8c73;
  color: black;
  border-color: black;
}

.mgeneratorsFAUpgradeBought {
  background-color: #995c00;
  color: white;
  border-color: white;
}

.rspheresFAUpgradeBuyable {
  background-color: #4f483e;
  color: white;
  border-color: black;
}

.rspheresFAUpgradeBought {
  background-color: #523100;
  color: white;
  border-color: white;
}

.mchallengeFAUpgradeBuyable {
  background-color: white;
  color: black;
  border-color: black;
}

.mchallengeFAUpgradeBought {
  background-color: black;
  color: white;
  border-color: white;
}